@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  /* --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f; */
  --secondary-color: #ffb423;
  --primary-color: #fddb3a;
  --light: #f0fff3;
  --dark-one: #52575d;
  --dark-two: #363940;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.light {
  color: var(--light);
}
.darkone {
  color: var(--dark-one);
}
.darktwo {
  color: var(--dark-two);
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-light {
  background-color: var(--light);
}
.bg-darkone {
  background-color: var(--dark-one);
}
.bg-darktwo {
  background-color: var(--dark-two);
}

/* navbar */
.navbar {
  height: 70px;
  width: 100%;
  /* position: sticky;
  top: 0; */
}

.navbar .flex {
  justify-content: space-between;
  overflow: visible;
}
.navbar li {
  transition: 0.3s ease-in;
}
.navbar li:hover {
  border-bottom: 3px solid var(--primary-color);
  transition: 0.3s ease-in;
}
/* showcase */
.showcase {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
}
.showcase img {
  border-radius: 50%;
  box-shadow: 0 0 0 20px var(--secondary-color);
}
.showcase .grid {
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

/* about me */
.about .grid {
  gap: 70px;
}
.about img {
  box-shadow: 0px 0px 15px 20px var(--secondary-color);
}
.about-text {
  color: var(--light);
}
.interests i {
  border: solid 1px var(--primary-color);
  border-radius: 50%;
}
/* education */
.edu-item {
  /* height: 300px; */
  border-left: 5px solid var(--secondary-color);
}
.education .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
    box-shadow: 0px 0px 0px 4px var(--secondary-color);
    position: relative;
    left: -7px;
    top: 50px;
    background-color: #fff;
}
.circle-in{
  height: 10px;
  width: 10px;
  background-color:var(--secondary-color);
  position: relative;
  top: 4.5px;
  left:4.5px;
  border-radius: 50%;
}
/* skills */

.skills .bar{
background-color: #fff;
height: 15px;
}
.skills .in-bar{
height: 15px;
background-color: var(--secondary-color);
width: 75%;
}
.skills h1{
text-align: center;
width: 100%;
}
